In [4]:
import pandas as pd
from shutil import copy2

In [5]:
df = pd.read_csv("data/labels.csv")
df.head()

                 id  target
0  chart-data-1.jpg       1
1  chart-data-2.jpg       1
2  chart-data-3.jpg       1
3  chart-data-4.jpg       1
4  chart-data-5.jpg       1

In [7]:
for i in range(len(df)):
    copy2("data/images/{}".format(df["id"][i]), "data/data/{}".format(df["target"][i]))